.App {
  text-align: left;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  text-align: left;
}
.aSection {
  border: 1px grey solid;
  margin: 20px;
  padding: 20px;
}

.list {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.listLineItem {
  margin: 5px;
}
.gridHeader {
  font-weight: bold;
  font-size: 15px;
  text-decoration: underline;
}
.listLine {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr;
  grid-template-rows: 1fr;
  gap: 20px 10px;
}

.colLabel {
  min-width: 130px;
  width: 130px;
  margin-right: 10px;
}
.colBookTitle {
  font-weight: bold;
}

.pageTitle {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
.finePrint {
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.requiredMsg {
  color: red;
  text-align: left;
  margin-right: 10px;
}

.submitButton {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  width: 315px;
}

.navbar {
  display: flex;
  justify-content: start;
  background: #efebeb;
}
.navBtn {
  margin: 10px 20px;
  text-decoration: none;
}
.linkBtn {
  background: #5276ab;
  color: white;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
}
