.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}
li {
  text-align: left;
}
.aSection {
  border: 1px grey solid;
  margin: 20px;
  padding: 5px;
}

.listLine {
  display: flex;
  text-align: left;
}
.listLineItem {
  margin: 5px;
}
.listLineLabel {
  min-width: 130px;
  margin-right: 10px;
}
.title {
  font-weight: bold;
}
/* ///////////////// */

.list {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

/* .bookItem {
  text-align: left;
  display: flex;
} */
.lists input, .lists button {
  margin-left: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
