.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style-type: none;
}
li {
  text-align: left;
}
.aSection {
  border: 1px grey solid;
  margin: 20px;
  padding: 5px;
}

.list {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.listLine {
  width: 100%;
  display: flex;
  text-align: left;
}
.listLineItem {
  margin: 5px;
}
.listLineLabel {
  min-width: 130px;
  margin-right: 10px;
}
.title {
  font-weight: bold;
}

.requiredMsg {
  color: red;
  text-align: left;
  margin-right: 10px;
}

.submitButton {
  margin-top: 20px;
  margin-left: 5px;
  width: 315px;
}

